h1 a {
    color: #881114;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
}
html {
    height: 100%;
}

p {
    color: #008080;
    font-family: 'Courgette', cursive;
}

body {
    padding-left: 15px;
    background-image:    url(../images/yozhik.jpeg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.page-header {
    background-color: #008080;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    border-radius: 25px;
    opacity: 0.55;
}

title {
    float: right;
}

.settings {
    position: absolute;
    top: 30%;
    left: 45%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    color: #881114;
    font-family: 'Satisfy', cursive;
}

.top-menu {
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin: 20px;

}

#deal {
    border-radius: 25px;
    padding:2px;
    border:2px solid #021a40;
}

#fail {
    font-size: 26px;
}

ul li {
    color: #008080;
    font-family: 'Courgette', cursive;
    font-size: 15px;
    padding: 3px;
}

#back {
    color: #881114;
    font-size: 45px;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    top: 40%;
    left: 45%;
}

#instruct {
}