{% extends 'colls/basic.html' %}
{% load staticfiles %}

{% block title %}
Collocations
{% endblock %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <h1 class ="thead">Hello {{ user.username }}, welcome to Collocation Counter!!!</h1>
    <div class="row">
        <div class ='col-md-3' id="settings">
            <h3>Settings</h3>
            <form method="post" action="{% url 'home' %}">{% csrf_token %}
                {{form.as_p}}
            <input type="submit" value="Ready">
            </form>
        </div>
    </div>
    <div class="row">
        <div class='col-md-5' id="instruct">
            <h3>Instructions</h3>
            <p>getting through the fog...</p>
            <img id='deal' src="{% static 'images/fog.jpg' %}">
            <ul>
                <li>Corp - Choose corpora you want to query.</li>
                <li>Window - Decide the left and rightmost barriers of your query.</li>
                <li>Word - The word you wish to query.</li>
                <li>Min Count - Minimum occurrences within specified window.</li>
                <li>Press ready to instantiate your query.</li>
            </ul>
        </div>
    </div>


    {% else %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="thead">This is The Collocation Counter!</h1>
            <p class="superp">Please register or login to experience the awesomeness.</p>
            <img id ="deal" src="{% static 'images/yozh2.jpeg' %}">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}